﻿@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<TBorrow> BrwLst = ViewBag.BrwLst;
}

<script>
    $("a[href='/Borrow/Index']").parent('li').addClass('active')
</script>
<h1>用户借阅历史</h1>
<hr />
<table class="table table-hover">
    <thead>
        <tr>
            <th>
                编号
            </th>
            <th>
                用户姓名
            </th>
            <th>
                书名
            </th>
            <th>
                借出日期
            </th>
            <th>
                归还日期
            </th>
            <th>
                借书周期
            </th>
            <th>
                是否归还
            </th>
            <th>
                备注
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in BrwLst)
        {
            <tr>
                <td>
                    @item.BorrowId
                </td>
                <td>
                    @item.User.UserName
                </td>
                <td>
                    @item.Book.BookName
                </td>
                <td>
                    @item.LendDate
                </td>
                <td>
                    @item.ReturnDate
                </td>
                <td>
                    @item.Cycle
                </td>
                <td>
                    @item.BoorrowState
                </td>
                <td>
                    @item.BorrowRemark
                </td>
            </tr>
        }
    </tbody>
</table>
