﻿
@{
    ViewData["Title"] = "添加书籍";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<TBookType> btLst = ViewBag.btLst;
}

<script>
    function AddBook() {
        $.ajax({
            url: "/Book/AddBook",
            type: "post",
            dataType: "json",
            data: {
                BookTypeID: $("#bktpe").val(),
                ISBN: $("#isbn").val(),
                BookName: $("#bknme").val(),
                Author: $("#auor").val(),
                Press: $("#prs").val(),
                BookDate: $("#bkyar").val(),
                Price: $("#pre").val(),
                BookRemark: $("#bkrek").val()
            },
            success: function (data) {
                alert(data.msg)
                if (data.i == 1) {
                    location.href="/Book/Manage"
                }
            },
            error: function (xhl) {
                alert("发生未知错误")
                console.log(xhl.responseText)
            }
        })
    }
</script>
<h1>添加图书</h1>

<hr />
<div class="row">
    <div class="col-md-5">
        <div class="form-group">
            <h4>图书类型</h4>
            <select id="bktpe" class="form-control">
                @foreach (var item in btLst)
                {
                    <option class="" value="@item.BookTypeId">@item.BookTypeName</option>
                }
            </select>
        </div>
        <div class="form-group">
            <h4>ISBN</h4>
            <input id="isbn" class="form-control" type="text" />
        </div>
        <div class="form-group">
            <h4>书名</h4>
            <input id="bknme" class="form-control" type="text" />
        </div>
        <div class="form-group">
            <h4>作者</h4>
            <input id="auor" class="form-control" type="text" />
        </div>
        <div class="form-group">
            <h4>出版社</h4>
            <input id="prs" class="form-control" type="text" />
        </div>
    </div>
        <div class="col-md-5">
            <div class="form-group">
                <h4>出版日期</h4>
                @*<input id="bkyar" class="form-control" type="text" />*@
                <input id="bkyar" type="date" class="form-control" max="" />
            </div>
            <div class="form-group">
                <h4>价格</h4>
                <input id="pre" class="form-control" type="text" />
            </div>
            <div class="form-group">
                <h4>备注</h4>
                <textarea id="bkrek" class="form-control" type="textarea"></textarea>
            </div>
        </div>
        <div class="form-group col-md-12">
            <div id="save" onclick="AddBook()" class="btn btn-primary">Save</div>
        </div>
    </div>
