﻿@{
    ViewData["Title"] = "图书管理";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<TBook> bookLst = ViewBag.bookLst;
    List<TBookType> btLst = ViewBag.btLst;
}
<style>

    .cover{
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.35);
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1;
        display: none;
    }

    .con {
        width: 900px;
        z-index: 2;
        padding:0 20px;
        position: fixed;
        top: 10%;
        left: 30%;
        margin: auto;
        background: #fff;
        border-radius: 5px;
        display: none;
    }
</style>

<script>
    $("a[href='/Book/Manage']").parent('li').addClass('active')
</script>
<script>
    function EditBook() {
        $.ajax({
            url: "/Book/EditBook",
            type: "post",
            dataType: "json",
            data: {
                BookID:$("#save").attr('bokid'),
                BookTypeID: $("#bktpe").val(),
                ISBN: $("#isbn").val(),
                BookName: $("#bknme").val(),
                Author: $("#auor").val(),
                Press: $("#prs").val(),
                BookDate: $("#bkyar").val(),
                Price: $("#pre").val(),
                BookRemark: $("#bkrek").val()
            },
            success: function (data) {
                alert(data.msg)
                if (data.i == 1) {
                    location.reload();
                }
            },
            error: function (xhl) {
                alert("发生未知错误")
                console.log(xhl.responseText)
            }
        })
    }
    function DeleteBook(ID) {
        if (!confirm("是否要删除该图书？"))
            return
        $.ajax({
            url: "/Book/DeleteBook",
            type: "get",
            dataType: "json",
            data: {
                BookID: ID
            },
            success: function (data) {
                alert(data.msg)
                if (data.i == 1) {
                    location.reload();
                }
            },
            error: function (xhl) {
                alert("发生未知错误")
                console.log(xhl.responseText)
            }
        })

    }
</script>
<script>
    function ShowCover(BookID, BookTypeID, ISBN, BookName, Author, Press, BookDate, Price,BookRemark) {
        $(".cover").show()
        $(".con").show()

        $("#bktpe").val(BookTypeID)
        $("#isbn").val(ISBN)
        $("#bknme").val(BookName)
        $("#auor").val(Author)
        $("#prs").val(Press)
        $("#bkyar").val(BookDate)
        $("#pre").val(Price)
        $("#bkrek").val(BookRemark)
        $("#save").attr('bokid', BookID)
    }
    function CoverOff() {
        $(".cover").hide()
        $(".con").hide()
    }
</script>
<h1>图书管理</h1>
<hr />
<p>
    <a href="/Book/Create">添加书籍</a>
</p>
<table class="table table-hover">
    <thead>
        <tr>
            <th>
                编号
            </th>
            <th>
                书籍类型
            </th>
            <th>
                ISBN
            </th>
            <th>
                书名
            </th>
            <th>
                作者
            </th>
            <th>
                出版社
            </th>
            <th>
                出版日期
            </th>
            <th>
                价格
            </th>
            <th>
                备注
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in bookLst)
        {
        <tr>
            <td>
                @item.BookId
            </td>
            <td>
                @item.BookType.BookTypeName
            </td>
            <td>
                @item.ISBN
            </td>
            <td>
                @item.BookName
            </td>
            <td>
                @item.Author
            </td>
            <td>
                @item.Press
            </td>
            <td>
                @item.BookDate
            </td>
            <td>
                @Math.Round(item.Price, 2) 元
            </td>
            <td>
                @item.BookRemark
            </td>
            <td>
                <div class="btn btn-default btn-sm" onclick="ShowCover('@item.BookId','@item.BookType.BookTypeId','@item.ISBN','@item.BookName','@item.Author','@item.Press','@item.BookDate','@Math.Round(item.Price,2)','@item.BookRemark')">修改</div>
                <div class="btn btn-danger btn-sm" onclick="DeleteBook('@item.BookId')">删除</div>
            </td>
        </tr>
        }
    </tbody>
</table>

<div class="cover" onclick="CoverOff()"></div>
<div class="con">
    <h1 style="text-align:center;margin:15px 0;">修改图书信息</h1>
    <hr />
    <div class="row">

        <div class="col-md-6">
            <div class="form-group">
                <h4>图书类型</h4>
                <select id="bktpe" class="form-control">
                    @foreach (var item in btLst)
                    {
                        <option class="" value="@item.BookTypeId">@item.BookTypeName</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <h4>ISBN</h4>
                <input id="isbn" class="form-control" type="text" />
            </div>
            <div class="form-group">
                <h4>书名</h4>
                <input id="bknme" class="form-control" type="text" />
            </div>
            <div class="form-group">
                <h4>作者</h4>
                <input id="auor" class="form-control" type="text" />
            </div>
            <div class="form-group">
                <h4>出版社</h4>
                <input id="prs" class="form-control" type="text" />
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <h4>出版日期</h4>
                @*<input id="bkyar" class="form-control" type="text" />*@
                <input id="bkyar" type="date" class="form-control" max="" />
            </div>
            <div class="form-group">
                <h4>价格</h4>
                <input id="pre" class="form-control" type="text" />
            </div>
            <div class="form-group">
                <h4>备注</h4>
                <textarea id="bkrek" class="form-control" type="textarea"></textarea>
            </div>
        </div>
        <div class="form-group col-md-12">
            <div id="save" onclick="EditBook()" class="btn btn-primary btn-block">Save</div>
        </div>
    </div>
</div>
