﻿
@{
    ViewData["Title"] = "查看图书";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<TBook> bookLst = ViewBag.bookLst;
}
<script>
    $("a[href='/Book/Search']").parent('li').addClass('active')
</script>

<script>
    $(function () {
        $("#key").val()
    })
    function SearchBook() {
        location.href = '/Book/Search?keyword=' + $('#key').val() + '&type='+ $('#schtpe').val()
    }
</script>

<h1>图书库</h1>
<hr />
<div class="row">
    <div class="col-sm-3"></div>
    <select id="schtpe" class="btn btn-default">
        <option value="book">书名</option>
        <option value="author">作者</option>
        <option value="press">出版社</option>
    </select>
    <input id="key" class="form-control col-sm-4" type="text" />
    <div id="sech" onclick="SearchBook()" class="btn btn-primary">Search</div>
</div>
<br />
<br />
<table class="table table-hover">
    <thead>
        <tr>
            <th>
                编号
            </th>
            <th>
                书籍类型
            </th>
            <th>
                ISBN
            </th>
            <th>
                书名
            </th>
            <th>
                作者
            </th>
            <th>
                出版社
            </th>
            <th>
                出版日期
            </th>
            <th>
                价格
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in bookLst)
        {
            <tr>
                <td>
                    @item.BookId
                </td>
                <td>
                    @item.BookType.BookTypeName
                </td>
                <td>
                    @item.ISBN
                </td>
                <td>
                    @item.BookName
                </td>
                <td>
                    @item.Author
                </td>
                <td>
                    @item.Press
                </td>
                <td>
                    @item.BookDate
                </td>
                <td>
                    @Math.Round(item.Price,2) 元
                </td>
            </tr>
        }
    </tbody>
</table>