﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>@ViewBag.Title - 图书管理系统</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="robots" content="all,follow">
    <!-- Bootstrap CSS-->
    <link rel="stylesheet" href="~/lib/vendor/bootstrap/css/bootstrap.min.css">
    <!-- Font Awesome CSS-->
    <link rel="stylesheet" href="~/lib/vendor/font-awesome/css/font-awesome.min.css">
    <!-- Fontastic Custom icon font-->
    <link rel="stylesheet" href="~/css/fontastic.css">
    <!-- Google fonts - Poppins -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,700">
    <!-- theme stylesheet-->
    <link href="~/css/layout/style.default.css" rel="stylesheet" />
    <!-- Custom stylesheet - for your changes-->
    <link href="~/css/layout/custom.css" rel="stylesheet" />
    <!-- Tweaks for older IEs-->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->
    <!-- JavaScript files-->
    <script src="~/lib/vendor/jquery/jquery.min.js"></script>
    <script src="~/lib/vendor/popper.js/umd/popper.min.js"></script>
    <script src="~/lib/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/lib/vendor/jquery.cookie/jquery.cookie.js"></script>
    <script src="~/lib/vendor/chart.js/Chart.min.js"></script>
    <script src="~/lib/vendor/jquery-validation/jquery.validate.min.js"></script>
    <!-- Main File-->
    <script src="~/js/front.js"></script>
    <script>
        function Logout() {
            if (!confirm("确定要退出登录吗？"))
                return
            $.ajax({
                url: "/User/Logout",
                type: "post",
                success: function (data) {
                    if (data.i == 1) {
                        location.href = "/User/Login"
                    }
                },
                error: function (xhl) {
                    alert("发生未知错误")
                    console.log(xhl.responseText)
                }
            })
        }
    </script>

</head>
<body>
    <div class="page">
        <!-- Main Navbar-->
        <header class="header">
            <nav class="navbar">
                <!-- Search Box-->
                <div class="search-box">
                    <button class="dismiss"><i class="icon-close"></i></button>
                    <form id="searchForm" action="#" role="search">
                        <input type="search" placeholder="What are you looking for..." class="form-control">
                    </form>
                </div>
                <div class="container-fluid">
                    <div class="navbar-holder d-flex align-items-center justify-content-between">
                        <!-- Navbar Header-->
                        <div class="navbar-header">
                            <!-- Navbar Brand --><a href="index.html" class="navbar-brand d-none d-sm-inline-block">
                                <div class="brand-text d-none d-lg-inline-block"><strong>图书管理系统</strong></div>
                                <div class="brand-text d-none d-sm-inline-block d-lg-none"><strong>图书管理</strong></div>
                            </a>
                            <!-- Toggle Button--><a id="toggle-btn" href="#" class="menu-btn active"><span></span><span></span><span></span></a>
                        </div>
                        <!-- Navbar Menu -->
                        <ul class="nav-menu list-unstyled d-flex flex-md-row align-items-md-center">
                            <!-- Search-->
                            <li class="nav-item d-flex align-items-center"><a id="search" href="#"><i class="icon-search"></i></a></li>
                            <!-- Logout    -->
                            <li class="nav-item"><a href="#" onclick="Logout()" class="nav-link logout"><span class="d-none d-sm-inline">退出登录</span><i class="fa fa-sign-out"></i></a></li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
        <div class="page-content d-flex align-items-stretch">
            <!-- Side Navbar -->
            <nav class="side-navbar">
                <!-- Sidebar Header-->
                <div class="sidebar-header d-flex align-items-center">
                    <div class="title">
                        <h1 class="h4">@LoginInfo.user.UserName</h1>
                        <p>@LoginInfo.user.UserType.UserTypeName</p>
                    </div>
                </div>
                <!-- Sidebar Navidation Menus-->
                <ul class="list-unstyled">
                    @if (LoginInfo.user.UserType.UserTypeId != 3)
                    {
                        <li><a href="/User/Manage">用户管理 </a></li>
                    }
                    @if (LoginInfo.user.UserType.UserTypeId == 2)
                    {
                        <li><a href="/Book/Manage">图书管理 </a></li>
                        <li><a href="/Borrow/Index">用户借阅历史 </a></li>
                    }
                    <li><a href="/Book/Search">图书库</a></li>
                    <li><a href="/User/Index">个人中心 </a></li>
                </ul>
            </nav>
            <div class="content-inner">
                <!-- RenderBody-->
                <div style="border:25px solid #e6dddd;width:100%;height:100%;padding:15px;">
                    @RenderBody()
                </div>
                <!-- Page Footer-->
                <footer class="main-footer">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-sm-6">
                                <p>Copyright &copy; 2019</p>
                            </div>
                            <div class="col-sm-6 text-right">
                                <p></p>
                            </div>
                        </div>
                    </div>
                </footer>
            </div>
        </div>`
    </div>

</body>
</html>