﻿
@{
    ViewData["Title"] = "添加用户";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<TUserType> utLst = ViewBag.utLst;
}

<script>
    function AddUser() {
        $.ajax({
            url: "/User/AddUser",
            type: "post",
            dataType: "json",
            data: {
                TelNumber:$("#teln").val(),
                Password:$("#passw").val(),
                UserName:$("#usrnme").val(),
                Identity:$("#idty").val(),
                Sex:$("#sex").val(),
                UserTypeId: $("#uertyp").val(),
                UserRemark: $("#uermrk").val()
            },
            success: function (data) {
                alert(data.msg)
                if (data.i == 1) {
                    location.href="/User/Manage"
                }
            },
            error: function (xhl) {
                alert("发生未知错误")
                console.log(xhl.responseText)
            }
        })
    }
</script>
<h1>个人中心</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <div class="form-group">
            <h4>用户权限</h4>
            <select id="uertyp" class="form-control">
                @if (LoginInfo.user.UserType.UserTypeId == 2)
                {
                    <option class="" value="@utLst[2].UserTypeId">@utLst[2].UserTypeName</option>
                }
                else
                {
                    foreach (var item in utLst)
                    {
                        <option class="" value="@item.UserTypeId">@item.UserTypeName</option>
                    }
                }
            </select>
            @if (LoginInfo.user.UserType.UserTypeId == 2)
            {
                <script>
                    $("#uertyp").attr("disabled", "disabled")
                </script>
            }
        </div>
        <div class="form-group">
            <h4>姓名</h4>
            <input id="usrnme" class="form-control" type="text" value="" />
            <span class="text-danger"></span>
        </div>
        <div class="form-group">
            <h4>电话号码</h4>
            <input id="teln" class="form-control" type="text" value="" />
            <span class="text-danger"></span>
        </div>
        <div class="form-group">
            <h4>密码</h4>
            <input id="passw" class="form-control" type="text" value="" />
            <span class="text-danger"></span>
        </div>
        <div class="form-group">
            <h4>身份证号</h4>
            <input id="idty" class="form-control" type="text" value="" />
            <span class="text-danger"></span>
        </div>
        <div class="form-group">
            <h4>性别</h4>
            <select id="sex" class="form-control">
                @{
                    string[] sexArr = { "不详", "男", "女" };
                    foreach (string item in sexArr)
                    {
                        <option value="@item">@item</option>
                    }
                }
            </select>
            <span class="text-danger"></span>
        </div>
        <div class="form-group">
            <h4>备注</h4>
            <textarea id="uermrk" class="form-control" type="textarea"></textarea>
            <span class="text-danger"></span>
        </div>
        <div class="form-group">
            <div onclick="AddUser()" class="btn btn-primary btn-block">Add</div>
        </div>
    </div>
</div>
