﻿@{
    ViewData["Title"] = "个人中心";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var user = ViewBag.user;
}

<script>
    $("a[href='/User/Index']").parent('li').addClass('active')
</script>
<script>
        function EditUser() {
        $.ajax({
            url: "/User/EditUser",
            type: "post",
            dataType: "json",
            data: {
                UserID: '@user.UserId',
                TelNumber:$("#teln").val(),
                Password:$("#passw").val(),
                UserName:$("#usrnme").val(),
                Identity:$("#idty").val(),
                Sex:$("#sex").val(),
                UserTypeId: '@user.UserType.UserTypeId',
                UserRemark: $("#uermrk").val()
            },
            success: function (data) {
                alert(data.msg)
                if (data.i == 1) {
                    location.reload();
                }
            },
            error: function (xhl) {
                alert("发生未知错误")
                console.log(xhl.responseText)
            }
        })
    }
</script>
<h1>个人中心</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <div class="form-group">
            <h4>姓名</h4>
            <input id="usrnme" class="form-control" type="text" value="@user.UserName" />
            <span class="text-danger"></span>
        </div>
        <div class="form-group">
            <h4>电话号码</h4>
            <input id="teln" class="form-control" type="text" value="@user.TelNumber" />
            <span class="text-danger"></span>
        </div>
        <div class="form-group">
            <h4>密码</h4>
            <input id="passw" class="form-control" type="text" value="@user.Password" />
            <span class="text-danger"></span>
        </div>
        <div class="form-group">
            <h4>身份证号</h4>
            <input id="idty" class="form-control" type="text" value="@user.Identity" />
            <span class="text-danger"></span>
        </div>
        <div class="form-group">
            <h4>性别</h4>
            <select id="sex" class="form-control">
                @{
                    string[] sexArr = { "不详", "男", "女" };
                    foreach (string item in sexArr)
                    {
                        @if (item == user.Sex)
                        {
                            <option value="@item" selected>@item</option>
                            continue;
                        }
                        <option value="@item">@item</option>
                    }
                }
            </select>
            <span class="text-danger"></span>
        </div>
        <div class="form-group">
            <h4>备注</h4>
            <textarea id="uermrk" class="form-control" type="textarea">@user.UserRemark</textarea>
            <span class="text-danger"></span>
        </div>
        <div class="form-group">
            <div onclick="EditUser()" class="btn btn-primary btn-block">Save</div>
        </div>
    </div>
</div>

