﻿@{
    Layout = null;
}

<!DOCTYPE HTML>
<html>
<head>
    <title>登录 - 图书管理系统</title>
    <link href="~/css/loginCSS.css" rel="stylesheet" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <!-- -->
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script>var __links = document.querySelectorAll('a'); function __linkClick(e) { parent.window.postMessage(this.href, '*'); }; for (var i = 0, l = __links.length; i < l; i++) { if (__links[i].getAttribute('data-t') == '_blank') { __links[i].addEventListener('click', __linkClick, false); } }</script>

    <script>
        function SignIn() {
            if ($('#telNumber').val() == '' || $('#password').val() == '')
                return alert('请输入账号密码！')
            $.ajax({
                url: "/User/SignIn",
                type: "post",
                dataType: "json",
                data: {
                    TelNumber: $('#telNumber').val(),
                    Password: $('#password').val()
                },
                success: function (data) {
                    alert(data.msg)
                    if (data.i == 1) {
                        location.href = "/User/Index"
                    }
                },
                error: function (xhl) {
                    alert("发生未知错误")
                    console.log(xhl.responseText)
                }
            })
        }
    </script>
</head>
<body>
    <!-- contact-form -->
    <div class="message warning">
        <div class="inset">
            <form>
                <ul>
                    <li>
                        <input type="text" class="text" id="telNumber"><a class=" icon user"></a>
                    </li>
                    <div class="clear"></div>
                    <li>
                        <input type="password" id="password"><a class="icon lock"></a>
                    </li>
                </ul>
                <div class="clear"> </div>
                <div class="submit">
                    <div class="btn btn-primary btn-block" onclick="SignIn()">登录</div>
                    <div class="clear"></div>
                </div>
            </form>
        </div>
    </div>
    <div class="clear"> </div>
    <!--- footer --->
    <div class="footer">
        <p>Copyright &copy; 2019.</p>
    </div>
</body>
</html>