﻿@{
    ViewData["Title"] = "用户管理";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<TUser> userLst = ViewBag.userLst;
    List<TUserType> utLst = ViewBag.utLst;
}
<style>
    .cover {
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.35);
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1;
        display: none;
    }

    .con {
        width: 500px;
        z-index: 2;
        padding:0 20px;
        position: fixed;
        top: 10%;
        left: 40%;
        margin: auto;
        background: #fff;
        border-radius: 5px;
        display: none;
    }
</style>

<script>
    $("a[href='/User/Manage']").parent('li').addClass('active')
</script>
<script>
    function EditUser() {
        $.ajax({
            url: "/User/EditUser",
            type: "post",
            dataType: "json",
            data: {
                UserID: $("#save").attr('usid'),
                TelNumber:$("#teln").val(),
                Password:$("#passw").val(),
                UserName:$("#usrnme").val(),
                Identity:$("#idty").val(),
                Sex:$("#sex").val(),
                UserTypeId: $("#uertyp").val(),
                UserRemark: $("#uermrk").val()

            },
            success: function (data) {
                alert(data.msg)
                if (data.i == 1) {
                    location.reload();
                }
            },
            error: function (xhl) {
                alert("发生未知错误")
                console.log(xhl.responseText)
            }
        })
    }
    function DeleteUser(ID) {
        if (!confirm("是否要删除该用户？"))
            return
        $.ajax({
            url: "/User/DeleteUser",
            type: "get",
            dataType: "json",
            data: {
                UserID: ID
            },
            success: function (data) {
                alert(data.msg)
                if (data.i == 1) {
                    location.reload();
                }
            },
            error: function (xhl) {
                alert("发生未知错误")
                console.log(xhl.responseText)
            }
        })

    }
</script>
<script>
    function ShowCover(UserId, TelNumber, Password, UserName, Identity, Sex, UserTypeId, UserRemark) {
        $(".cover").show()
        $(".con").show()
        $("#uertyp").val(UserTypeId)
        $("#teln").val(TelNumber)
        $("#passw").val(Password)
        $("#usrnme").val(UserName)
        $("#idty").val(Identity)
        $("#sex").val(Sex)
        $("#uermrk").text(UserRemark)
        $("#save").attr('usid', UserId)
    }
    function CoverOff() {
        $(".cover").hide()
        $(".con").hide()
    }
</script>
<h1>用户管理</h1>
<hr />
<p>
    <a href="/User/Create">创建新用户</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                编号
            </th>
            <th>
                手机号
            </th>
            <th>
                密码
            </th>
            <th>
                姓名
            </th>
            <th>
                身份证号
            </th>
            <th>
                性别
            </th>
            <th>
                用户权限
            </th>
            <th>
                备注
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in userLst)
        {
            <tr>
                <td>
                    @item.UserId
                </td>
                <td>
                    @item.TelNumber
                </td>
                <td>
                    @item.Password
                </td>
                <td>
                    @item.UserName
                </td>
                <td>
                    @item.Identity
                </td>
                <td>
                    @item.Sex
                </td>
                <td>
                    @item.UserType.UserTypeName
                </td>
                <td>
                    @item.UserRemark
                </td>
                <td>
                    <div class="btn btn-default btn-sm" onclick="ShowCover('@item.UserId','@item.TelNumber','@item.Password','@item.UserName','@item.Identity','@item.Sex','@item.UserType.UserTypeId','@item.UserRemark')">修改</div>
                    <div class="btn btn-danger btn-sm" onclick="DeleteUser('@item.UserId')">删除</div>
                </td>
            </tr>
        }
    </tbody>
</table>

<div class="cover" onclick="CoverOff()"></div>
<div class="con">
    <h1 style="text-align:center;margin:15px 0;">修改用户信息</h1>
    <hr />
    <div class="col-md-12">

        <div class="form-group">
            <h4>用户权限</h4>
            <select id="uertyp" class="form-control">
                @foreach (var item in utLst)
                {
                    <option class="" value="@item.UserTypeId">@item.UserTypeName</option>
                }
            </select>
            @if (LoginInfo.user.UserType.UserTypeId == 2)
            {
                <script>
                    $("#uertyp").attr("disabled","disabled")
                </script>
            }
        </div>
        <div class="form-group">
            <h4>电话号码</h4>
            <input id="teln" class="form-control" type="text" />
        </div>
        <div class="form-group">
            <h4>密码</h4>
            <input id="passw" class="form-control" type="text" />
        </div>
        <div class="form-group">
            <h4>姓名</h4>
            <input id="usrnme" class="form-control" type="text" />
        </div>
        <div class="form-group">
            <h4>身份证号</h4>
            <input id="idty" class="form-control" type="text" />
        </div>
        <div class="form-group">
            <h4>性别</h4>
            <select id="sex" class="form-control">
                @{
                    string[] sexArr = { "不详", "男", "女" };
                    foreach (string item in sexArr)
                    {
                        <option value="@item">@item</option>
                    }
                }
            </select>
        </div>
        <div class="form-group">
            <h4>备注</h4>
            <textarea id="uermrk" class="form-control" type="textarea"></textarea>
        </div>
        <div class="form-group">
            <div id="save"usid="" onclick="EditUser()" class="btn btn-primary btn-block">Save</div>
        </div>
    </div>
</div>
